body
{
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
	margin: 0;
	padding: 0;
	font-size: 20px;
	line-height: 1.5;
	background-color: black;
}
article
{
	padding: 1cm;
	max-width: 50cm;
	margin-left: auto;
	margin-right: auto;
	max-width: 40em;

}
a {
  color: inherit;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
  color: red;
}
img {

	max-width: 100%;
	max-height: 100%;
	width: 1000em;
}

h1
{
	color: tomato;
	font-size: 2cm;
	line-height: 1;
	font-family: 'Lobster Two', cursive;

}
h3
{
	letter-spacing: 0.3em;
	margin-bottom: 0;
	margin-top: 1cm;
	color: tomato;
	font-family: 'Arapey', serif;
}
h4
{
	margin-bottom: 0;
	margin-top: 1cm;
	color: green ;
	font-family: 'Slabo 27px', serif;
}

p
{
	margin-top: 0em;
	margin-bottom: 1cm;
	text-align: justify;
}

