body {
		margin: 0;
		padding: 0;
		background: purple;
		color: white;
		font-family: Times New Roman;
	}
	
	
	h2{
		font: Georgia Header;
		color: white;
	}
	h4{
		margin: 0 0 1em 0;
	}
	p{
		font: palatino;
		color: white;
	}